_BUILD_ARG_OH_MY_POSH=true
_BUILD_ARG_OH_MY_POSH_THEMEFILE=https://raw.githubusercontent.com/Ash258/Shovel-Ash258/main/support/oh-my-posh/Ash258.yml
_BUILD_ARG_SHOVEL=true
_BUILD_ARG_SHOVEL_BRANCH=NEW
